.marketplace {
    ion-tabs[tabbarPlacement=top] tabbar {
        border-bottom: 0;
    }
    tabbar {
        line-height: 30px;
        background: #737272;

        .tab-button[aria-selected=true] {
            color: #32db64;
        }
        a {
            padding-top: 15px;
        }
    }
    ion-navbar-section {
        display: none;
    }
    .tab-button {
        color: #66ff2b;
    }
}

.marketplace-page {
    ion-searchbar {
        padding: 0;
    }
}
