.playvideo-page{
    ion-icon.back-button-icon {
        min-width: 25px;
    }
}
.eventdetail {
    ion-card {

        ion-item.item{
            padding-left: 8px;
        }
    }
    ion-card-content {
        .card-title {
            text-transform: uppercase;
        }
        h5 {
            line-height: 30px;
            font-weight: bold;
        }
    }
    ion-row {
        padding: 0;
        ion-col {
            padding: 0;
            ion-icon {
                color: #387ef5;
                margin-right: 10px;
            }
        }
    }
}

.action-sheet-group{
    button.action-sheet-button {
        color: black;
    }
    ion-icon.ion-md-social-facebook {
        color: #3D5A98;
    }
    ion-icon.ion-ios-social-facebook {
        color: #3D5A98;
    }
    ion-icon.ion-md-social-twitter {
        color: #408ECC;
    }
    ion-icon.ion-ios-social-twitter {
        color: #408ECC;
    }
    ion-icon.ion-md-social-instagram {
        color: #8C5F27;
    }
    ion-icon.ion-ios-social-instagram {
        color: #8C5F27;
    }
    ion-icon.ion-md-social-pinterest {
        color: #F13823;
    }
    ion-icon.ion-ios-social-pinterest {
        color: #F13823;
    }
}
